<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue - dischi</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div id="root">

            <header>
                <i class="fas fa-music"></i>
                <div class="">
                    <label for="genres">Choose a genre:  </label>
                    <select v-model="genre_selected" @change="genreChange($event.target.value)" id="genre-selector" name="genres">
                        <option value="All">All</option>
                        <option value="Pop">Pop</option>
                        <option value="Rock">Rock</option>
                        <option value="Jazz">Jazz</option>
                        <option value="Metal">Metal</option>
                    </select>
                </div>
                <div class="buttons">
                    <button type="button" name="button" class="btn" @click="sortByYear(cds);">Ascending sort by year</button>
                    <button type="button" name="button" class="btn" @click="sortByYearDescending(cds)">Descending sort by year</button>
                    <i class="fas fa-undo-alt" @click="unsortedCds()"></i>
                </div>
            </header>

            <div class="cds-container">
                <div class="cd-card" v-for="obj in cds" v-if="cds.length == 10 && (obj.genre == genre_selected || genre_selected == 'All')">
                    <h1>{{obj.author}}</h1>
                    <img :src="obj.poster" :alt="obj.title">
                    <p>Genre: <span>{{obj.genre}}</span></p>
                    <p>Year: <span>{{obj.year}}</span></p>
                </div>
            </div>

        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
