<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue - dischi</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div id="root">

            <header>
                <label for="genres">Choose a genre:  </label>
                <select v-model="genre_selected" @change="genreChange($event.target.value)" id="genre-selector" name="genres">
                    <option value="All">All</option>
                    <option value="Pop">Pop</option>
                    <option value="Rock">Rock</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Metal">Metal</option>
                </select>
            </header>

            <div class="cds-container">
                <div class="cd-card" v-for="obj in cds" v-if="cds.length == 10 && (obj.genre == genre_selected || genre_selected == 'All')">
                    <h1>{{obj.author}}</h1>
                    <img :src="obj.poster" :alt="obj.title">
                    <p>{{obj.genre}}</p>
                    <p>{{obj.year}}</p>
                </div>
            </div>

        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
